:root{
   --primary-color: #bfd11f;
   --secondary-color: #121213;
   --terciary-color: #2c2b27;

   --button-height: 92px;

   --slider-position: 10%;
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html,body{
   max-width: 100%;
   min-height: 100vh;
}

html{
   background-color: var(--primary-color);
}

body{
   background-color: #000;
   max-width: 800px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: var(--secondary-color);
   max-width: 800px;
   height: 100vh;
   margin: 0 auto;
   overflow: hidden;
}

#info,
nav {
   display: flex;
   height: var(--button-height);
}

button {
   border: none;
   background-color: transparent;
   color: var(--primary-color);
   font-size: clamp(2.5rem, 3vw, 3.5rem);
   font-weight: 600;
   text-transform: uppercase;
   cursor: pointer;
   flex: 1;
}

#controller {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

input[type="range"] {
   background-color: var(--secondary-color);
   position: absolute;
   inset: 0;
   opacity: 0;
   
}

.range {
   position: relative;
   display: flex;
   flex: 1;
   background-color: var(--primary-color);
   
}

.range-bar{
   
   flex: 1;
   transform-origin: left;
   transform: scalex(0.5);
   background-color: var(--terciary-color);
   pointer-events: none;
}
/*input:before {
   content: "";
   position: absolute;
   width: var(--slider-position);
   height: 100%;
   background-color: var(--terciary-color);
}

input::-webkit-slider-thumb {
   opacity: 0;
}*/

